<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.MenuDao">
    <!--查询全部数据-->
    <select id="listMenuInfoPage" resultType="com.example.demo.pojo.MenuPojo">
        SELECT
        m.id,m.menu_name,m.menu_status,m.is_del,m.menu_action,m.is_child_node,m.create_time,m.update_time,m.menu_order,m.menu_remarks,m.creator,m.updator,u.real_name
        AS creatorName,ui.real_name AS updatorName FROM sys_menu_info m LEFT JOIN sys_user_info u ON m.creator=u.id LEFT JOIN
        sys_user_info ui ON m.updator=ui.id WHERE m.is_del=0 and m.pid is null
        <if test="menuName != null and menuName != ''">
            and m.menu_name LIKE '%${menuName}%'
        </if>
        <if test="menuStatus != -1">
            and m.menu_status = #{menuStatus}
        </if>
        ORDER BY m.menu_order ASC
    </select>

    <!--插入数据-->
    <insert id="saveDataMenu" parameterType="com.example.demo.pojo.MenuPojo">
        INSERT INTO sys_menu_info(menu_name, menu_action, is_child_node, create_time, menu_order,
                              menu_remarks, creator, pid)
        VALUES (#{menuName}, #{menuAction}, #{isChildNode}, #{createTime}, #{menuOrder},
                #{menuRemarks}, #{creator}, #{pid})
    </insert>

    <!--更新数据-->
    <update id="updateDataMenu" parameterType="com.example.demo.pojo.MenuPojo">
        UPDATE sys_menu_info
        SET menu_name    = #{menuName},
            menu_action  = #{menuAction},
            menu_order   = #{menuOrder},
            menu_remarks = #{menuRemarks},
            update_time  = #{updateTime},
            updator      = #{updator}
        WHERE id = #{id}
    </update>

    <!--更新菜单状态-->
    <update id="updateMenuStatus">
        UPDATE sys_menu_info
        SET menu_status = #{type}
        where id = #{id}
    </update>

    <!--删除数据-->
    <update id="deleteMenu">
        UPDATE sys_menu_info
        SET is_del = '1'
        where id = #{id}
    </update>

    <!--子节点查询全部数据-->
    <select id="listMenuInfoChildPage" resultType="com.example.demo.pojo.MenuPojo">
        SELECT
        m.id,m.menu_name,m.menu_status,m.is_del,m.menu_action,m.is_child_node,m.create_time,m.update_time,m.menu_order,m.menu_remarks,m.creator,m.updator,u.real_name
        AS creatorName,ui.real_name AS updatorName FROM sys_menu_info m LEFT JOIN sys_user_info u ON m.creator=u.id LEFT JOIN
        sys_user_info ui ON m.updator=ui.id WHERE m.is_del=0 and m.pid = #{pid}
        <if test="menuName != null and menuName != ''">
            and m.menu_name LIKE '%${menuName}%'
        </if>
        <if test="menuStatus != -1">
            and m.menu_status = #{menuStatus}
        </if>
        ORDER BY m.menu_order ASC
    </select>

    <!--获取主菜单-->
    <select id="getHomeMenuList" resultType="java.util.HashMap">
        SELECT m.id, m.menu_name, m.menu_action, m.is_child_node
        FROM sys_menu_info m
                 LEFT JOIN sys_role_menu r ON m.id = r.menu_id AND r.is_del = 0
                 LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id and ur.is_del = 0
                 LEFT JOIN sys_user_info u ON ur.user_id = u.id AND u.is_del = 0
        WHERE m.is_del = 0
          AND m.menu_status = 0
          AND u.user_name = #{userName}
          AND m.pid IS NULL
        ORDER BY m.menu_order ASC
    </select>

    <!--通过主菜单id查询对应的子菜单-->
    <select id="getChildMenuList" resultType="java.util.HashMap">
        SELECT m.id, m.menu_name, m.menu_action
        FROM sys_menu_info m
                 LEFT JOIN sys_role_menu r ON m.id = r.menu_id AND r.is_del = 0
                 LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id and ur.is_del = 0
                 LEFT JOIN sys_user_info u ON ur.user_id = u.id AND u.is_del = 0
        WHERE m.is_del = 0
          AND m.menu_status = 0
          AND m.pid = #{pid}
          AND u.user_name = #{userName}
        ORDER BY m.menu_order ASC
    </select>

    <!--获取主菜单-->
    <select id="getHomeMenuRoleList" resultType="java.util.HashMap">
        SELECT m.id, m.menu_name as title
        FROM sys_menu_info m
                 LEFT JOIN sys_role_menu r ON m.id = r.menu_id AND r.is_del = 0
                 LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id and ur.is_del = 0
                 LEFT JOIN sys_user_info u ON ur.user_id = u.id AND u.is_del = 0
        WHERE m.is_del = 0
          AND m.menu_status = 0
          AND u.user_name = #{userName}
          AND m.pid is NULL
        ORDER BY m.menu_order ASC
    </select>

    <!--通过主菜单id查询对应的子菜单-->
    <select id="getChildMenuRoleList" resultType="java.util.HashMap">
        SELECT m.id, m.menu_name as title
        FROM sys_menu_info m
                 LEFT JOIN sys_role_menu r ON m.id = r.menu_id AND r.is_del = 0
                 LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id and ur.is_del = 0
                 LEFT JOIN sys_user_info u ON ur.user_id = u.id AND u.is_del = 0
        WHERE m.is_del = 0
          AND m.menu_status = 0
          AND u.user_name = #{userName}
          AND m.pid = #{pid}
        ORDER BY m.menu_order ASC
    </select>
</mapper>